.ui-autocomplete {
    position: absolute;
    border-radius: 3px;
    top: 0;
    left: 0;
    cursor: default;
    min-width: 100px;
    max-width: 100%;
    max-height: 100px;
    background: #ffffff;
    color: #000000;
    z-index: 9999999 !important;
    overflow-y: auto;
    overflow-x: hidden;
}