@import url('//use.fontawesome.com/releases/v4.7.0/css/font-awesome-css.min.css');
/* FONT PATH
 * -------------------------- */
@font-face {
    font-family: 'FontAwesome';
    src: url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.eot');
    src: url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
    url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'),
    url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.woff') format('woff'),
    url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.ttf') format('truetype'),
    url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.normal {
    color: green;
}
.exceeded {
    color: red;
}
.footer {
    padding-bottom: 15px;
}
.error, .message {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 16px;
}
.error {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
}
.message {
    color: #2f9635;
    background-color: #c6fbc2;
    border: 1px solid #9feba6;
}
td.error:focus {
    outline-color: rgba(173, 76, 74, 0.54);
}
header, footer {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    margin: 6px 0;
}
table.dataTable td,
table.dataTable th {
    box-sizing: border-box;
}
.order-product-table {
    width: 100%;
    border-spacing: 0;
    box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.36);
}
.parent-row {
    box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.36);
}
.order-product-table thead {
    background: #fff;
}
.order-product-table tr:after {
    content: none;
}
.order-product-table th,
.order-product-table td {
    padding: 4px 2px;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    text-align: center;
}

.order-product-table th:last-child, .order-product-table td:last-child {
    border-right: none;
}
.order-product-table tr:last-child td {
    border-bottom: none;
}
.order-product-table th:first-child,
.order-product-table td:first-child {
    text-align: left;
}
.order-product-table tr:nth-child(even) {
    background: #f7f7f7;
}
.order-product-table .order-product-qty {
    max-width: 45px;
    text-align: center;
}
/* */
.table th.orderrow-show {
    max-width: 70px !important;
}
td.orderrow-show {
    position: relative;
    cursor: pointer;
}
td.orderrow-show:before,
td.orderrow-show:after {
    content: '';
    display: block;
    position: absolute;
    top: 46%;
    left: 30px;
    width: 18px;
    height: 4px;
    background: #209e11;
    backface-visibility: hidden;
    border-radius: 25%;
    transition: transform .5s cubic-bezier(0.68, -0.55, 0.27, 1.55), background .5s cubic-bezier(0.67, 0.01, 0.19, 0.84);
    transform-origin: 50% 50%;
}
td.orderrow-show:after {
    transform: rotate(90deg);
}
.opened td.orderrow-show:before,
.opened td.orderrow-show:after {
    background: #2d2bca;
}
.opened td.orderrow-show:before {
    transform: rotate(225deg);
}
.opened td.orderrow-show:after {
    transform: rotate(-45deg);
}
.ui-autocomplete {
    position: absolute;
    border-radius: 3px;
    top: 0;
    left: 0;
    cursor: default;
    min-width: 100px;
    max-width: 100%;
    max-height: 100px;
    background: #ffffff;
    color: #000000;
    z-index: 9999999 !important;
    overflow-y: auto;
    overflow-x: hidden;
}
body .navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-register {
    margin-top: 8px;
}
.jumbotron {
    padding: 20px 0;
}
.login-logo {
    margin: 5px 0 0;
    font-size: 36px;
    text-align: center;
}
.login-block {
    max-width: 300px;
    margin: 30px auto 50px;
}
.login-form {
    margin: 0;
}
.login-form input {
    margin: 0 0 7px;
}
.login-form button {
    width: 100%;
}
.login-register {
    display: block;
    margin: 6px 0 0;
    border-radius: 4px;
    line-height: 32px;
    text-align: center;
}
.login-register:hover {
    text-decoration: none;
}
.dataTables_length_wrap {
    text-align: right;
    padding: 0 15px;
}
div.dataTables_wrapper div.dataTables_info {
    white-space: initial;
}
.order-table {
    width: 100%;
    table-layout: fixed;
}
.order-table th,
.order-table td {
    padding: 8px;
    font-size: 14px;
}
.order-table th {
    border-bottom: 2px solid #ddd;
}
.order-table td.child-row {
    padding: 0 0 25px;
}
.order-head-sm {
    display: none;
}
.order-table .order-post-office {
    text-align: center;
}
/* Calculating width for every cell of order ITEMS */
.order-product-table th:not(:first-child) {
    width: 9%;
}

/* Calculating width for every cell of order INFO */
.order-table-head th:nth-child(1) {
    width: 15%;
}
.order-table-head th:nth-child(2) {
    width: 15%;
}
.order-table-head th:nth-child(3) {
    width: 100px;
}
.order-table-head th:nth-child(4) {
    width: 15%;
}
.order-table-head th:nth-child(5) {
    width: 43px;
}
.order-table-head th:nth-child(6) {
    width: 45px;
}
.order-table-head th:nth-child(7) {
    width: 70px;
}
.order-table-head th:nth-child(8) {
    width: 52px;
}
.order-table-head th:nth-child(9) {
    width: 15%;
}
/* END OF Calculating width for every cell of order INFO */

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    font-weight: normal;
}
.parent-row {
    background: #f9f9f9;
}
.parent-row.status-shp {
    background: #FCE5CD;
}
.parent-row.status-wfp {
    background: #F4CCCC;
}
.parent-row.status-ok {
    background: #deedd9;
}
.parent-row.status-not {
    background: #a70000;
    color: #fff;
}
.menu-toggle {
    display: none;
}
.show-suppliers__wrap {
    text-align: right;
}
.show-suppliers {
    max-width: 110px;
}
.suppliers-shown .order-product-row.anton {
    background: rgba(214, 192, 27, 0.37);
}
.suppliers-shown .order-product-row.misha {
    background: rgba(141, 56, 193, 0.37);
}
@media (max-width: 768px) {
    .navbar-brand {
        float: none;
        display: block;
        height: initial;
        padding: 10px;
        text-align: center;
    }
    .navbar-form {
        margin: 0;
        text-align: center;
        padding-right: 0;
        padding-left: 0;
    }
    .order-table {
        table-layout: auto;
    }
    .order-table>thead {
        display: none;
    }
    .order-table .parent-row {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }
    .order-table .parent-row td {
        display: flex;
        align-items: center;
        border: 1px solid #e1e1e1;
    }

    /* Calculating width for every cell of order INFO */
    .parent-row .order-last-name {
        order: 1;
        width: calc((100% - 100px - 40px) / 2);
    }
    .parent-row .order-first-name {
        order: 2;
        width: calc((100% - 100px - 40px) / 2);
    }
    .parent-row .order-phone-number {
        order: 3;
        width: 100px;
    }
    .parent-row .order-city {
        order: 5;
        width: calc((100% - 46px - 53px - 61px) / 2);
    }
    .parent-row .order-post-office {
        order: 6;
        width: 46px;
    }
    .parent-row .order-payment-type {
        order: 4;
        width: 40px;
    }
    .parent-row .order-total-sum {
        order: 9;
        width: 61px;
    }
    .parent-row .order-status {
        order: 8;
        width: 53px;
    }
    .parent-row .order-comment {
        order: 7;
        width: calc((100% - 46px - 53px - 61px) / 2);
    }
    /* END OF Calculating width for every cell of order INFO */
}
@media (max-width: 460px) {
    .order-head-sm {
        display: initial;
    }
    .order-head-lg {
        display: none;
    }
    .container {
        padding: 0;
    }
    .row {
        margin: 0;
    }

    .order-table td.child-row {
        padding: 0 0 12px;
    }
    .order-product-table .order-product-qty {
        width: 20px;
    }
    .order-table th,
    .order-table td {
        padding: 3px;
        overflow: hidden;
    }
    .order-table th:focus,
    .order-table td:focus {
        background: #fff;
        overflow: visible;
    }
    .order-product-table td {
        font-size: 13px;
    }

    /* Calculating width for every cell of order INFO */
    .parent-row .order-last-name {
        order: 1;
        width: calc((100% - 90px - 30px) / 2);
    }
    .parent-row .order-first-name {
        order: 2;
        width: calc((100% - 90px - 30px) / 2);
    }
    .parent-row .order-phone-number {
        order: 3;
        width: 90px;
    }
    .parent-row .order-city {
        order: 5;
        width: calc((100% - 36px - 43px - 51px) / 2);
    }
    .parent-row .order-post-office {
        order: 6;
        width: 36px;
    }
    .parent-row .order-payment-type {
        order: 4;
        width: 30px;
    }
    .parent-row .order-total-sum {
        order: 9;
        width: 51px;
    }
    .parent-row .order-status {
        order: 8;
        width: 43px;
    }
    .parent-row .order-comment {
        order: 7;
        width: calc((100% - 36px - 43px - 51px) / 2);
    }
    /* END OF Calculating width for every cell of order INFO */

    .menu-toggle {
        display: inline-block;
        float: right;
        margin: 10px 5%;
        padding: 6px 9px;
        background: rgba(255,255,255,.1);
        border: 1px solid rgba(255,255,255,.2);
        border-radius: 3px;
        color: #fff;
        font-size: 19px;
    }
    .navbar-form {
        display: none;
    }
    .navbar-brand {
        margin-top: 6px;
    }
    .navbar-form.opened {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        padding: 0;
        z-index: 11;
    }
    .navbar-form.opened .btn {
        display: block;
        width: 100%;
        padding-left: 5%;
        background: #222222;
        border: 0;
        border-bottom: 1px solid #3e3e3e;
        border-radius: 0;
        text-align: left;
    }
}
