<div class="pagination">

  <div class="pagination__info">
    Displaying {{ (currentPageNumber - 1) * pageLength + 1}} – {{ currentPageNumber * pageLength }} of {{ totalItems }} items
  </div>

  <div class="pagination__right">
    <select name="" id="" class="pagination__length input"
            (change)="changeLength($event.target.value)"
    >
      <option
        *ngFor="let value of [10, 20, 50, 100, 200]"
        value="{{ value }}"
        [attr.selected]="value === pageLength ? '' : null"
      >
        {{ value }}
      </option>
    </select>

    <ul class="pagination__selector"
        *ngIf="totalItems > pageLength"
    >
      <li
        (click)="selectPage(getPrevPage())"
        [class.disabled]="currentPageNumber === 1"
      >Prev</li>
      <li
        (click)="selectPage(1)"
        [class.active]="currentPageNumber === 1"
      >1</li>
      <li class="spread" *ngIf="isPrevSpreadShown()">...</li>

      <li
        *ngFor="let page of pages"
        [class.active]="page === currentPageNumber"
        (click)="selectPage(page)"
      >
        {{ page }}
      </li>

      <li class="spread" *ngIf="isNextSpreadShown()">...</li>
      <li
        (click)="selectPage(lastPage)"
        [class.active]="currentPageNumber === lastPage"
      >
        {{ lastPage }}
      </li>
      <li
        (click)="selectPage(getNextPage())"
        [class.disabled]="currentPageNumber === lastPage"
      >Next</li>
    </ul>

  </div>
</div>