@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-y: scroll;
    background: url(../images/loading.svg) no-repeat -9999px -9999px;
    font: 14px 'Roboto', sans-serif;
}
.pull-right {
    margin-left: auto;
}
.pull-left {
    margin-right: auto;
}
.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 5px;
}
.input {
    padding: 8px 0;
    border: 0;
    box-shadow: 0 1px 0 0 #ddd;
    font: 400 16px 'Roboto';
    transition: box-shadow .15s linear;
}
.input:hover {
    box-shadow: 0 1px 0 0 #000;
}
.input:focus {
    outline: none;
    box-shadow: 0 1px 0 0 #3fb0ac;
}
.btn {
    min-width: 145px;
    display: inline-block;
    padding: 8px 12px;
    background: #3fb0ac;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
    color: #fff;
    font: 500 14px 'Roboto', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    transition: box-shadow .2s;
    cursor: pointer;
}
.btn:hover {
    background: #37a09d;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .3);
}
.btn:active,
.btn:focus {
    background: #37a09d;
    outline: none;
    box-shadow: 0.2px 4px 9px 1px rgba(0, 0, 0, .3);
}
.btn--danger {
    background: #cc3737;
}
.btn--danger:hover,
.btn--danger:active,
.btn--danger:focus {
    background: #bf3737;
}
.btn--default {
    background: #dddfd4;
    color: inherit;
}
.btn--default:hover,
.btn--default:active,
.btn--default:focus {
    background: #abada3;
}
.btn-reset-orders {
    display: flex;
    align-items: center;
}
.btn-reset-orders i {
    margin-right: 3px;
    font-size: 20px;
    line-height: 17px;
}
.order {
    position: relative;
    margin: 27px 0;
    padding: 5px 10px;
    box-shadow: 0px 3px 9px 1px rgba(0, 0, 0, 0.3);
}
.order:first-child {
    margin-top: 0;
}
.order--OK,
.order--OK .order-manage {
    background: #deedd9;
}
.order--SHP,
.order--SHP .order-manage {
    background: #FCE5CD;
}
.order--WFP,
.order--WFP .order-manage {
    background: #F4CCCC;
}
.order--NOT,
.order--NOT .order-manage {
    background: #a70000;
    color: #fff;
}
.order--NEW,
.order--NEW .order-manage {
    background: #fff;
}
.order-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3px 0 0;
    padding: 0 0 7px;
    border-bottom: 1px solid rgba(0, 188, 212, 0.49);
}
.order-info__block {
    display: flex;
    align-items: center;
    align-content: center;
    flex-shrink: 0;
    padding: 6px 8px;
    border-right: 1px solid rgba(0, 188, 212, 0.49);
    font-size: 16px;
    box-sizing: border-box;
    word-break: break-word;
}
.order-info__block:last-child {
    border-right-width: 0;
}
.order-info__block--id {
    width: 57px;
    text-align: center;
    justify-content: center;
}
.order-info__block--last-name,
.order-info__block--first-name,
.order-info__block--city {
    width: calc((100% - 57px - 105px - 48px - 105px - 70px - 95px - 52px - 14px) / 4);
}
.order-info__block--phone {
    width: 105px;
    text-align: center;
    justify-content: center;
}
.order-info__block--post-office {
    width: 48px;
    text-align: center;
    justify-content: center;
}
.order-info__block--date {
    width: 105px;
    font-size: 13px;
}
.order-info__block--total-value {
    width: 70px;
}
.order-info__block--payment {
    width: 45px;
    padding: 0 2px;
}
.order-info__block--status {
    width: 52px;
    padding: 0 2px;
}
.order-info__block--order-note {
    border-right-width: 0;
    justify-content: left;
    text-align: left;
    flex-grow: 2;
}
.order-info__block select {
    width: 100%;
    background: none;
    border: none;
    border-radius: 2px;
    height: 32px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align-last: center;
}
.order-info hr {
    width: 100%;
    margin: 8px 0;
    border: 0;
    border-top: 1px solid rgba(0, 188, 212, 0.49);
}
.order-info__block--customer-note {
    width: 40%;
}
.order-product {
    display: flex;
    align-items: center;
}
.order-products {
    margin: 8px 0 3px;
}
.order-product__block {
    padding: 0 8px;
    box-sizing: border-box;
    line-height: 26px;
    word-break: break-all;
}
.order-product__block--name {
    width: 82%;
    border-right: 1px solid rgba(0, 188, 212, 0.49);
}
.order-product__block--quantity {
    width: 9%;
    text-align: center;
    border-right: 1px solid rgba(0, 188, 212, 0.49);
}
.order-product__block--quantity input {
    width: 49px;
    height: 23px;
    padding-left: 9px;
    background: none;
    border: none;
    text-align: center;
}
.order-product__block--price {
    width: 9%;
    text-align: center;
    border-right: 1px solid rgba(0, 188, 212, 0.49);
}
.order-product__block--delete {
    line-height: 1;
    cursor: pointer;
}
.order-product.odd {
    background: rgba(0, 188, 212, 0.05);
}
.order-product:hover {
    background: rgba(0, 188, 212, 0.15);
}
.order-product.show-supplier {
    background: rgba(188, 31, 255, 0.25);
}
.order-manage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}
.order-manage.collapsible {
    position: absolute;
    top: 0;
    left: 0;
    justify-content: space-between;
    margin: 0;
    padding: 10px;
    border: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translate3d(0, 0, 0);
    transition: transform .2s ease;
}
.order:hover .order-manage.collapsible {
    opacity: 1;
    transform: translate3d(0, -100%, 0);
}
.order-manage__block {
    margin: 0 4% 0 0;
    text-align: center;
    cursor: pointer;
}
.collapsible .order-manage__block {
    margin-right: 30px;
}
.order-manage__text {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 2px;
}
.order-manage__block .material-icons {
    display: inline-block;
    vertical-align: middle;
    font-size: 31px;
    transition: color .2s;
}
.order-manage__block--add .material-icons {
    color: #00b500;
}
.order-manage__block--add:hover .material-icons {
    color: #00d600;
}
.order-manage__block--edit .material-icons {
    color: #0000ea;
}
.order-manage__block--edit:hover .material-icons {
    color: #4277ff;
}
.order-manage__block--delete .material-icons,
.order-product__block--delete .material-icons {
    color: #d20000;
}
.order-manage__block--delete:hover .material-icons,
.order-product__block--delete:hover .material-icons {
    color: #ff0000;
}
.order-manage__block--save .material-icons {
    color: #00b6ce;
}
.order-manage__block--save:hover .material-icons {
    color: #01c5e0;
}
.autocomplete {
    position: absolute;
    max-height: 310px;
    overflow-y: auto;
    list-style: none;
    background: #fff;
    z-index: 9;
}
.autocomplete li {
    padding: 5px 10px;
    border: 1px solid transparent;
}
.autocomplete .active {
    background: #e8faff;
    border-top-color: #4bc6e8;
    border-bottom-color: #4bc6e8;
}
.service-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}
.btn-orders--add {
    margin: 15px 0 0;
}
.orders-info {
    flex-grow: 2;
    text-align: center;
}
.orders-info__block {
    display: inline-block;
    vertical-align: top;
    margin: 0 1% 0 0;
    color: #ccc;
    font-style: italic;
}
.table {
    margin: 15px 0;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    font-size: 13px;
    color: rgba(0, 0, 0, .87);
}
.table td, .table th {
    padding: 5px 20px;
    height: 48px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}
.table th {
    height: 56px;
    vertical-align: middle;
    font-size: 12px;
    font-weight: normal;
    color: rgba(0, 0, 0, .54);
}
.table tr:hover {
    background: #eee;
}
.table .numeric {
    text-align: right;
}
.table-container {
    overflow-x: auto;
}
.table-products,
.table-customers {
    min-width: 1000px;
}
.table-products th {
    width: 70px;
}
th.product-cell--supplier {
    width: 150px;
}
th.product-cell--name,
th.product-cell--categories {
    width: calc((100% - (78px * 5) - 150px) / 2);
}
th.product-cell--price,
th.product-cell--quantity {
    text-decoration: underline;
    text-decoration-style: dashed;
}
td.product-cell--id,
td.product-cell--price,
td.product-cell--variationId,
td.product-cell--quantity {
    text-align: right;
}
td.product-cell--supplier {
    word-break: break-word;
}
td.product-cell--image {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    cursor: pointer;
}
.product-cell__image {
    max-height: 50px;
    max-width: 50px;
}

.search-input,
.search-input-container {
    width: 190px;
}
.order-page .search-input-container {
    position: relative;
    height: 37px;
}
.order-page .search-input {
    position: absolute;
    top: 0;
    right: 0;
}
.table-customers .headcell {
    width: 20%;
}
.table-customers .headcell--id,
.table-customers .headcell--post {
    width: 75px;
}
.table-customers td {
    word-break: break-word;
}

[data-placeholder]:empty::before {
    content: attr(data-placeholder);
    color: #bbb;
    cursor: text;
}


.circle-preloader {
    /*position: absolute;*/
    width: 18px;
    height: 18px;
}
.circle-preloader circle {
    fill: transparent;
    stroke-width: 2px;
    stroke-dasharray: 10px 10px 15px;
    animation: circle-rotate 2.5s linear infinite;
    transform-origin: 50%;
    stroke: white;
}

.tooltip {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    width: 110%;
    padding: 14px 18px;
    background-color: #5c5d66;
    border-radius: 10px;
    line-height: 20px;
    color: #fff;
    white-space: normal;
    animation: appear-tooltip 0.2s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
}
.tooltip::after {
     content: "";
     width: 15px;
     height: 15px;
     position: absolute;
     left: 50%;
     bottom: -7.5px;
     transform: translateX(-50%) rotate(45deg);
     background-color: #5c5d66;
 }

.tooltip.tooltip-left,
.tooltip.tooltip-right {
    width: auto;
    min-width: 190px;
    top: 50%;
    bottom: auto;
    transform: translate(0, -50%);
}
.tooltip.tooltip-left {
    left: auto;
    right: 110%;
    animation-name: appear-tooltip-left;
}
.tooltip.tooltip-right {
    right: auto;
    left: 110%;
    animation-name: appear-tooltip-right;
}

.tooltip.tooltip-left::after,
.tooltip.tooltip-right::after {
     top: 50%;
     bottom: auto;
     transform: translate(0, -50%) rotate(45deg);
}
.tooltip.tooltip-left::after {
     left: auto;
     right: -7.5px;
}
.tooltip.tooltip-right::after {
     right: auto;
     left: -7.5px;
}

.vis-hidden {
    visibility: hidden;
}

@media only screen and (max-width: 1000px) {
    .order {
        padding-left: 2px;
        padding-right: 2px;
    }
    .order-info {
        flex-wrap: wrap;
    }
    .order-info__block {
        padding-left: 2px;
        padding-right: 2px;
    }
    .order-info__block--id {
        order: 1;
        width: 45px;
    }
    .order-info__block--last-name {
        order: 2;
        width: calc((100% - 45px - 93px - 83px - 35px) / 2);
    }
    .order-info__block--first-name {
        order: 3;
        width: calc((100% - 45px - 93px - 83px - 35px) / 2);
    }
    .order-info__block--phone {
        order: 4;
        width: 93px;
    }
    .order-info__block--status {
        order: 6;
        width: 35px;
    }
    .order-info__block--city {
        order: 7;
        width: calc((100% - 35px - 32px - 35px - 70px) / 2);
    }
    .order-info__block--post-office {
        order: 8;
        width: 32px;
    }
    .order-info__block--date {
        order: 5;
        width: 83px;
    }
    .order-info__block--order-note {
        order: 9;
        width: calc((100% - 35px - 32px - 35px - 70px) / 2);
        border-right-width: 1px !important;
    }
    .order-info__block--payment {
        order: 10;
        width: 35px;
    }
    .order-info__block--total-value {
        order: 11;
    }
    .order-info hr {
        order: 12;
    }
    .order-manage {
        order: 13;
    }
    .order-info__block--customer-note {
        order: 14;
    }
    /* PRODUCTS */
    .order-product {
        padding: 5px 0;
    }
    .order-product__block {
        padding: 0 2px;
        line-height: 1.3;
    }
    .order-product__block--name {
        width: 67%;
    }
    .order-product__block--quantity {
        width: 10%;
    }
    .order-product__block--quantity input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding-left: 0;
        width: 100%;
        text-align: center;
    }
    .order-product__block--price {
        width: 13%;
    }
    .order-product__block--delete {
        width: 10%;
        text-align: center;
    }
}
@media only screen and (max-width: 700px) {
    .service-block {
        flex-wrap: wrap;
    }
    .order-page .search-input-container {
        width: 100%;
        margin: 10px 0;
        text-align: center;
    }
    .order-page .search-input {
        position: initial;
        width: 300px;
        max-width: 100%;
    }
}
@media only screen and (max-width: 500px) {
    .search-input {
        width: 150px;
    }
    .order {
        padding-bottom: 0;
    }
    .order-info {
        margin-top: 0;
        align-items: initial;
    }
    .order-info__block {
        border-bottom: 1px solid rgba(0, 188, 212, 0.49);
        flex-grow: 2;
    }
    .order-info__block--id {
        order: 1;
        width: 13%;
    }
    .order-info__block--last-name {
        order: 5;
        width: calc(100% / 3);
    }
    .order-info__block--first-name {
        order: 6;
        width: calc(100% / 3);
    }
    .order-info__block--phone {
        order: 7;
        width: calc(100% / 3);
        border-right-width: 0;
    }
    .order-info__block--status {
        order: 4;
        width: 18%;
        border-right-width: 0;
    }
    .order-info__block--city {
        order: 8;
        width: 57%;
    }
    .order-info__block--post-office {
        order: 9;
        width: 12%;
    }
    .order-info__block--date {
        order: 2;
        width: 30%;
    }
    .order-info__block--order-note {
        order: 3;
        width: 39%;
    }
    .order-info__block--payment {
        order: 10;
        width: 15%;
    }
    .order-info__block--total-value {
        order: 11;
        width: 16%;
        border-right-width: 0;
    }
    .order-info hr {
        display: none;
    }
    .order-manage {
        order: 14;
        width: 100%;
        margin-top: 10px;
    }
    .order-info__block--customer-note {
        order: 13;
        width: 100%;
    }
    .order-product {
        padding: 5px 0;
    }
    .order-product__block {
        padding: 0 2px;
        font-size: 13px;
        line-height: 1.5;
    }
    .products-page .service-block {
        flex-wrap: wrap;
    }
    .products-page filter {
        width: 100%;
        margin-left: auto;
    }
    .products-page .search-input {
        margin-top: 5px;
        margin-left: auto;
    }
    .table-products {
        margin-top: 5px;
    }
}

@keyframes circle-rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(720deg);
    }
}

@keyframes appear-tooltip {
    from {
        opacity: 0;
        transform: translate(-50%, -20px);
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@keyframes appear-tooltip-left {
    from {
        opacity: 0;
        transform: translate(-20px, -50%);
    }
    to {
        opacity: 1;
        transform: translate(0, -50%);
    }
}

@keyframes appear-tooltip-right {
    from {
        opacity: 0;
        transform: translate(20px, -50%);
    }
    to {
        opacity: 1;
        transform: translate(0, -50%);
    }
}