<div style="display: none;">
  <div class="get-orders" (click)="onGetAllOrders()">Get All OrdersComponent</div>

  <div class="consolestore" (click)="onGetStore()">Console current state</div>

  <div class="consoleorders" (click)="console()">Console</div>

  <div (click)="showSuppliers = !showSuppliers">SHow suppliers</div>
</div>

<div class="wrapper order-page">


  <div class="service-block">
    <div
      class="btn btn-orders-add"
      (click)="onAddOrder()"
    >Add New Order
    </div>

    <button class="btn btn--default btn-reset-orders" *ngIf="filterSubmitted" (click)="resetFilter()">
      <i class="material-icons">refresh</i>
      <span class="btn-text">Reset orders</span>
    </button>

    <div (click)="showFilters = !showFilters"
         [class.active]="showFilters"
         class="btn btn-show-filters"
    >Filters</div>
  </div>

  <data-filter
    *ngIf="showFilters"
    [filters]="[
      {code: 'customerFirstNameMask', label: 'First Name',  type: 'text'},
      {code: 'customerLastNameMask',  label: 'Last Name',   type: 'text'},
      {code: 'customerPhoneMask',     label: 'Phone',       type: 'text'},
      {code: 'destinationCityMask',   label: 'City',        type: 'text'},
      {code: 'fromDateTimeCreated',   label: 'From date',   type: 'date'},
      {code: 'toDateTimeCreated',     label: 'To date',     type: 'date'},
      {code: 'productNameMask',       label: 'Product',     type: 'text', autocomplete: true}
    ]"
    (filterSubmit)="onFilterSubmit()"
    #dataFilter
  ></data-filter>

  <div class="orders">
    <div
      *ngFor="let order of orders$ | async"
      class="order order--{{ order.status }}"
      [@appear]
    >

      <div class="order-info">

        <div class="order-info__block order-info__block--id">
          {{ order.orderId }}
        </div>

        <div
          class="order-info__block order-info__block--last-name"
          contenteditable
          [autocomplete]="['info', 'customerLastName']"
          [(contenteditableModel)]="order['customerLastName']"
          (selectedAutocomplete)="onAutocompleteInfo(order.orderId, $event)"
          (contentChanged)="onUpdateInfoField(order.orderId, 'customerLastName', $event)"
          data-placeholder="Last name"
        ></div>

        <div
          class="order-info__block order-info__block--first-name"
          contenteditable
          [(contenteditableModel)]="order['customerFirstName']"
          (contentChanged)="onUpdateInfoField(order.orderId, 'customerFirstName', $event)"
          data-placeholder="First name"
        ></div>

        <div
          class="order-info__block order-info__block--phone"
          contenteditable
          phoneNumber
          [autocomplete]="['info', 'customerPhoneNumber']"
          [(contenteditableModel)]="order['customerPhoneNumber']"
          (selectedAutocomplete)="onAutocompleteInfo(order.orderId, $event)"
          (contentChanged)="onUpdateInfoField(order.orderId, 'customerPhoneNumber', $event)"
          data-placeholder="Phone"
        ></div>

        <div
          class="order-info__block order-info__block--city"
          contenteditable
          [autocomplete]="['info', 'destinationCity']"
          [(contenteditableModel)]="order['destinationCity']"
          (selectedAutocomplete)="onAutocompleteInfo(order.orderId, $event)"
          (contentChanged)="onUpdateInfoField(order.orderId, 'destinationCity', $event)"
          data-placeholder="City"
        ></div>

        <div
          class="order-info__block order-info__block--post-office"
          contenteditable
          [(contenteditableModel)]="order['destinationPostOffice']"
          (contentChanged)="onUpdateInfoField(order.orderId, 'destinationPostOffice', $event)"
          data-placeholder="Post"
        ></div>

        <div class="order-info__block order-info__block--payment">
          <select name="paymentType"
                  (change)="onUpdateInfoInput(order.orderId, 'paymentType', $event.target.value)"
          >
            <option
              *ngFor="let value of infoBlocks['paymentType']"
              [value]="value"
              [attr.selected]="value === order['paymentType'] ? '' : null"
            >
              {{ value }}
            </option>
          </select>
        </div>

        <div
          class="order-info__block order-info__block--total-value"
          contenteditable
          [(contenteditableModel)]="order['totalValue']"
          (contentChanged)="onUpdateInfoField(order.orderId, 'totalValue', $event)"
          data-placeholder="Total"
        ></div>

        <div class="order-info__block order-info__block--createdDateTime">
          {{ order.createdDateTime | date:'dd MMM HH:mm' }}
        </div>

        <div class="order-info__block order-info__block--status">
          <select name="paymentType"
                  (change)="onUpdateInfoInput(order.orderId, 'status', $event.target.value)"
          >
            <option
              *ngFor="let value of infoBlocks['status']"
              [value]="value"
              [attr.selected]="value === order['status'] ? '' : null"
            >
              {{ value }}
            </option>
          </select>
        </div>

        <div
          class="order-info__block order-info__block--order-note"
          contenteditable
          [(contenteditableModel)]="order['orderNote']"
          (contentChanged)="onUpdateInfoField(order.orderId, 'orderNote', $event)"
          data-placeholder="Order comment"
        ></div>

        <hr>

        <div class="order-manage">
          <div title="Add product" class="order-manage__block order-manage__block--add"
               (click)="onAddProduct(order.orderId)">
            <i class="material-icons">add_box</i>
            <div class="order-manage__text">Add product</div>
          </div>
          <div title="Save customer" class="order-manage__block order-manage__block--save"
               *ngIf="order.customerId === 0"
               (click)="onPersistCustomer(order.orderId)"
          >
            <i class="material-icons">save</i>
            <div class="order-manage__text">Save customer</div>
          </div>
          <div title="Edit customer" class="order-manage__block order-manage__block--edit"
               *ngIf="order.customerId !== 0"
               (click)="onEditCustomer(order.customerId)"
          >
            <i class="material-icons">mode_edit</i>
            <div class="order-manage__text">Edit customer</div>
          </div>
          <div title="Delete order" class="order-manage__block order-manage__block--delete"
               (click)="onDeleteOrder(order.orderId)">
            <i class="material-icons">delete_forever</i>
            <div class="order-manage__text">Delete order</div>
          </div>
          <div title="Print order" class="order-manage__block order-manage__block--print"
               (click)="onPrintOrder(order, link)">
            <i class="material-icons">print</i>
            <div class="order-manage__text">Print order</div>
          </div>
          <a href="#" #link></a>
        </div>

        <div class="order-info__block order-info__block--customerNote">
          {{ order.customerNote }}
        </div>

      </div>


      <div class="order-products">
        <div
          *ngFor="let product of order.orderLines; let odd = odd; let even = even;"
          [ngClass]="{
            'order-product': true,
            'show-supplier': showSuppliers && (product.supplier == 'MISHA' || product.supplier == 'ANTON'),
            odd: odd,
            even: even
          }"
        >

          <div
            class="order-product__block order-product__block--name"
            contenteditable
            [autocomplete]="['product', 'orderLineProductName']"
            [(contenteditableModel)]="product.orderLineProductName"
            (selectedAutocomplete)="onAutocompleteProduct(order.orderId, product.orderLineId, $event)"
            (contentChanged)="onUpdateProductField(order.orderId, product.orderLineId, 'orderLineProductName', $event)"
            data-placeholder="Product name"
          ></div>

          <div class="order-product__block order-product__block--quantity">
            <input [value]="product.orderLineProductQuantity"
                   (blur)="onUpdateProductInput(order.orderId, product.orderLineId, 'orderLineProductQuantity', $event.target.value)"
                   type="number"
            >
          </div>

          <div
            class="order-product__block order-product__block--price"
            contenteditable
            [(contenteditableModel)]="product.orderLineProductPrice"
            (contentChanged)="onUpdateProductField(order.orderId, product.orderLineId, 'orderLineProductPrice', $event)"
          ></div>

          <div class="order-product__block order-product__block--delete"
               (click)="onDeleteProduct(order.orderId, product.orderLineId)"
          >
            <i class="material-icons">delete</i>
          </div>

        </div>
      </div>

    </div>
  </div>


  <pagination
    [total]="totalOrders"
    [length]="pageLength"
    [current]="page"
    (dataChanged)="paginationChanged($event)"
  >
  </pagination>

</div>