<div [@appear] class="filter-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="filter__form">
    <div
      class="filter filter__block"
      *ngFor="let filter of filters"
    >
      <div class="filter__label">
        {{ filter.label }} :
      </div>

      <ng-container [ngSwitch]="filter.type">
        <ng-container *ngSwitchCase="'text'">
          <input class="input filter__input"
                 *ngIf="filter.autocomplete; else noAutocomplete"
                 [formControlName]="filter.code"
                 [autocomplete]="['product', 'productName']"
                 (selectedAutocomplete)="onAutocomplete($event, filter.code)"
                 type="text"
          >
          <ng-template #noAutocomplete>
            <input class="input filter__input"
                   type="text"
                   [formControlName]="filter.code"
            >
          </ng-template>

        </ng-container>

        <input *ngSwitchCase="'date'"
               [formControlName]="filter.code"
               class="input filter__input"
               type="date"
        >

        <select
          *ngSwitchCase="'select'"
          [formControlName]="filter.code"
          class="filter__select input"
        >
          <option value="" selected>- Show all -</option>
          <option
            *ngFor="let option of filters[filter]"
            [value]="option"
          >
            {{ option }}
          </option>
        </select>

      </ng-container>

    </div>

    <button type="submit" class="btn filter__block filter__submit">Submit</button>
  </form>
</div>