.filter {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.filter__label {
    margin: 0 10px 0 0;
    width: 100px;
    text-transform: capitalize;
    font-size: 15px;
    word-break: break-word;
}
.filter__select {
    width: 140px;
    cursor: pointer;
    font-size: 15px;
}
@media only screen and (max-width: 500px) {
    .filter {
        justify-content: space-between;
    }
    .filter__label {
        width: 42%;
    }

    .filter__select {
        width: 47%;
    }
}