<form class="filter-container" [formGroup]="form">
  <div
    class="filter"
    *ngFor="let filter of filters | keys"
  >
    <div class="filter__label">
      {{ filter }} :
    </div>

    <select
      class="filter__select input"
      formControlName="{{ filter }}"
      (change)="onChange(filter, $event.target.value)"
    >
      <option value="" selected>- Show all -</option>
      <option
        *ngFor="let option of filters[filter]"
        value="{{ option }}"
      >
        {{ option }}
      </option>
    </select>
  </div>
</form>