<div class="popup-wrapper">
  <div class="popup-overlay" (click)="close()" [@fadeInOut]="animationState"></div>
  <div class="popup"
       [@expandHeight]="hasData || hasFormData || imageUrl"
       [@flyInOut]="animationState"
       (@flyInOut.done)="onAnimationDone($event)"
  >
    <div class="popup__head">
      {{ header }}

      <div class="popup__close" (click)="close()">
        <i class="material-icons">close</i>
      </div>
    </div>

    <div class="popup__loading" *ngIf="!hasData && !hasFormData && !imageUrl">
      <div class="popup__loading-text">Loading...</div>
      <img src="/assets/images/loading.svg" alt="" class="popup__loading-image">
    </div>

    <div class="popup__content" *ngIf="hasData">
      <div class="popup__content-text">{{ data }}</div>
    </div>

    <form
      *ngIf="hasFormData"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >

      <div class="popup__content">
        <div class="popup__formgroup">
          <label class="popup__label">ID</label>
          <div class="popup__input">{{ data.id || data.customerId }}</div>
        </div>

        <div class="popup__formgroup">
          <label class="popup__label" for="customerFirstName">First name</label>
          <input class="input popup__input"
                 id="customerFirstName"
                 formControlName="customerFirstName"
                 type="text"
          >
        </div>

        <div class="popup__formgroup">
          <label class="popup__label" for="customerLastName">Last name</label>
          <input class="input popup__input"
                 id="customerLastName"
                 formControlName="customerLastName"
                 type="text"
          >
        </div>

        <div class="popup__formgroup">
          <label class="popup__label" for="customerPhoneNumber">Phone</label>
          <input class="input popup__input"
                 phoneNumber
                 id="customerPhoneNumber"
                 formControlName="customerPhoneNumber"
                 type="text"
          >
        </div>

        <div class="popup__formgroup">
          <label class="popup__label" for="customerCityName">City</label>
          <input class="input popup__input"
                 id="customerCityName"
                 formControlName="customerCityName"
                 type="text"
          >
        </div>

        <div class="popup__formgroup">
          <label class="popup__label" for="customerPostOffice">Post</label>
          <input class="input popup__input"
                 id="customerPostOffice"
                 formControlName="customerPostOffice"
                 type="text"
          >
        </div>

        <div class="popup__formgroup">
          <label class="popup__label" for="customerEmail">Email</label>
          <input class="input popup__input"
                 id="customerEmail"
                 formControlName="customerEmail"
                 type="text"
          >
        </div>

        <div class="popup__formgroup">
          <label class="popup__label" for="customerNote">Note</label>
          <input class="input popup__input"
                 id="customerNote"
                 formControlName="customerNote"
                 type="text"
          >
        </div>
      </div>

      <div class="popup__btns">
        <button class="btn btn--danger popup__btn popup__btn--reset" type="button" (click)="reset()">
          <i class="material-icons">restore</i> Reset
        </button>
        <button class="btn popup__btn popup__btn--submit" type="submit">
          <i class="material-icons">save</i> Submit
        </button>
      </div>
    </form>

    <img class="popup__image"
         *ngIf="imageUrl"
         [src]="'https://gilder-shop.com.ua/components/com_jshopping/files/img_products/full_' + imageUrl"
         alt=""
    >
  </div>
</div>