<div class="header">
    <div class="wrapper">
        <div class="row">
            <div class="col-xs-12 col-md-2">
                <div class="box">
                    <a [routerLink]="['']" class="logo">OSMS</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-2 pull-right">
                <div class="box">
                    <a [routerLink]="['products']">Products</a>
                    <a class="logout">Log out</a>
                </div>
            </div>
        </div>
    </div>
</div>