<div class="wrapper products-page">

  <div class="tabs">
    <button class="tab"
            (click)="currentTab = 'products'"
            [class.active]="currentTab === 'products'"
    >
      Products
    </button>
    <button class="tab"
            (click)="currentTab = 'aggregators'"
            [class.active]="currentTab === 'aggregators'"
    >
      Aggregators
    </button>
  </div>

  <div class="tab-content" [ngSwitch]="currentTab">
    <div *ngSwitchCase="'products'">
      <div class="service-block">

        <filter-static
          [filters]="{
            productCategories: categories,
            productSupplier: suppliers
          }"
          (filtered)="onFilterChange($event)"
        ></filter-static>

        <input type="text" name="searchStream" id=""
               class="input search-input"
               placeholder="Search in products..."
               [@changeWidth]="searchExpanded"
               #searchControl
               [formControl]="searchStream"
               [(ngModel)]="searchQuery"
               (focusin)="toggleAnimState()"
               (focusout)="toggleAnimState()"
        >

      </div>

      <div class="table-container">
        <table class="table table-products">
          <thead>
            <th class="product-cell--image">Image</th>
            <th class="product-cell--name">Name</th>
            <th class="product-cell--categories">Category</th>
            <th class="product-cell--price numeric">Price</th>
            <th class="product-cell--quantity numeric">Quantity</th>
            <th class="product-cell--supplier">Supplier</th>
            <th class="product-cell--id numeric">ID</th>
            <th class="product-cell--varId numeric">Variation ID</th>
          </thead>
          <tbody>
          <tr
            *ngFor="let product of products$ | async; let odd = odd; let even = even;"
            [ngClass]="{'product': true, 'odd': odd, 'even': even}"
          >

            <td class="product-cell--image" (click)="lightbox(product)">
              <img class="product-cell__image"
                   [src]="'https://gilder-shop.com.ua/components/com_jshopping/files/img_products/thumb_' + product.productImage"
                   alt=""
              >
            </td>

            <td class="product-cell--name">{{ product.productName }}</td>
            <td class="product-cell--categories">{{ product.productCategories }}</td>

            <td
              class="product-cell--price editable"
              contenteditable
              [(contenteditableModel)]="product.productPrice"
              (contentChanged)="onUpdateField(product.productId, product.productVariationId, 'productPrice', $event)"
            ></td>

            <ng-container *ngIf="product.productAggregated; else editableQuantity">
              <td class="product-cell--quantity aggregated">
                AGR
              </td>
            </ng-container>

            <ng-template #editableQuantity>
              <td
                class="product-cell--quantity editable"
                contenteditable
                [(contenteditableModel)]="product.productQuantity"
                (contentChanged)="onUpdateField(product.productId, product.productVariationId, 'productQuantity', $event)"
              ></td>
            </ng-template>

            <td class="product-cell--supplier">{{ product.productSupplier }}</td>
            <td class="product-cell--id">{{ product.productId }}</td>
            <td class="product-cell--variationId">{{ product.productVariationId }}</td>

          </tr>
          </tbody>
        </table>
      </div>

      <pagination
        [total]="filteredProducts$ | async"
        [length]="pageLength"
        [current]="page"
        (dataChanged)="paginationChanged($event)"
      >
      </pagination>
    </div>

    <div *ngSwitchCase="'aggregators'">
      <div class="aggregators table-container">
        <ul class="aggregators-head">
          <li>
            <div class="list-cell">Name</div>
            <div class="list-cell">Quantity</div>
          </li>
          <li>
            <div class="list-cell">Name</div>
            <div class="list-cell">Quantity</div>
          </li>
        </ul>
        <ul class="aggregators-list">
          <li *ngFor="let aggregator of productAggregators; odd as odd; even as even"
              [ngClass]="{'odd': odd, 'even': even}"
          >
            <div class="list-cell">{{ aggregator.aggregatorName }}</div>
            <div class="list-cell"
                 contenteditable
                 [(contenteditableModel)]="aggregator['aggregatorQuantity']"
                 (contentChanged)="onUpdateField(aggregator.aggregatorId, null, 'aggregatorQuantity', $event, true)"
            >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>



</div>