<div class="popup-wrapper">
  <div class="popup-overlay" (click)="close()" [@fadeInOut]="animationState"></div>
  <div class="popup"
       [@expandHeight]="hasData || hasFormData || imageUrl"
       [@flyInOut]="animationState"
       (@flyInOut.done)="onAnimationDone($event)"
  >
    <div class="popup__head">
      {{ header }}

      <div class="popup__close" (click)="close()">
        <i class="material-icons">close</i>
      </div>
    </div>

    <div class="popup__loading" *ngIf="!hasData && !hasFormData && !imageUrl">
      <div class="popup__loading-text">Loading...</div>
      <img src="/assets/images/loading.svg" alt="" class="popup__loading-image">
    </div>

    <div class="popup__content" *ngIf="hasData">
      <div class="popup__content-text">{{ data }}</div>
    </div>

    <form
      *ngIf="hasFormData"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >

      <div class="popup__content">
        <div class="popup__formgroup">
          <label class="popup__label">ID</label>
          <div class="popup__input">{{ data.id || data.customerId }}</div>
        </div>

        <div class="popup__formgroup" *ngFor="let key of data | keys:['id', 'customerId']">
          <label class="popup__label" for="{{ key }}">{{ key }}</label>
          <input class="input popup__input" id="{{ key }}" type="text" formControlName="{{ key }}">
        </div>
      </div>

      <div class="popup__btns">
        <button class="btn btn--warning popup__btn popup__btn--reset" type="button" (click)="reset()">
          <i class="material-icons">restore</i> Reset
        </button>
        <button class="btn popup__btn popup__btn--submit" type="submit">
          <i class="material-icons">save</i> Submit
        </button>
      </div>
    </form>

    <img class="popup__image"
         *ngIf="imageUrl"
         [src]="'https://gilder-shop.com.ua/components/com_jshopping/files/img_products/full_' + imageUrl"
         alt=""
    >
  </div>
</div>