.popup-wrapper,
.popup-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
}
.popup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-overlay {
    background: rgba(0,0,0,.3);
}

.popup {
    position: relative;
    min-width: 550px;
    max-width: 100%;
    min-height: 195px;
    max-height: 95vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: stretch;
    justify-content: center;
    background: #fff;
    border: 1px solid #b9b9b9;
    border-radius: 4px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.42);
    overflow-y: auto;
}

.popup__head {
    position: relative;
    padding: 8px 16px;
    width: 100%;
    background: #f4f4f4;
    border-bottom: 1px solid #ccc;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    font-size: 17px;
}

.popup__close {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

.popup__close .material-icons {
    font-size: 19px;
}

.popup__close:hover {
    color: #555;
}

.popup__content {
    width: 100%;
    padding: 8px 16px;
    font-size: 15px;
}

.popup__content-text {
    max-width: 220px;
    margin: 0 auto;
    text-align: center;
}

.popup__formgroup {
    margin: 13px 0;
}

.popup__label {
    display: inline-block;
    vertical-align: middle;
    width: 36%;
}

.popup__input {
    display: inline-block;
    vertical-align: middle;
    width: 58%;
    margin: 0 0 0 4%;
    font-size: 15px;
}

.popup__btns {
    padding: 3px 16px 16px;
    display: flex;
    justify-content: space-between;
}

.popup__btn .material-icons {
    font-size: 17px;
    display: inline-block;
    vertical-align: sub;
    margin: 0 5px 0 0;
}
.popup__loading {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
}

.popup__loading-text {
    width: 100%;
    font-size: 16px;
    text-align: center;
}

.popup__loading-image {
    max-width: 70px;
    max-height: 70px;
    margin: 15px 0 0;
}

form {
    width: 100%;
}

.popup__image {
    margin: 10px 0;
    max-height: calc(95vh - 120px);
}

@media only screen and (max-width: 600px) {
    .popup {
        min-width: initial;
        width: 300px;
    }

    .popup__label {
        display: block;
        width: 100%;
        font-size: 13px;
        color: #999;
    }

    .popup__input {
        display: block;
        width: 100%;
        margin: 0;
    }
}