.pagination {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 20px 0;
    font-size: 15px;
}
.pagination__right {
    text-align: right;
}
.pagination__length {
    margin: 0 0 10px;
    font-size: 15px;
}
.pagination__selector {
    display: flex;
    list-style: none;
}
li {
    padding: 5px 10px;
    user-select: none;
    cursor: pointer;
}
li:hover,
li.active {
    background: #00bcd4;
    color: #fff;
}
li.disabled,
li.disabled:hover,
li.spread,
li.spread:hover {
    background: transparent;
    color: #999;
    cursor: default;
}
@media only screen and (max-width: 500px) {
    .pagination {
        flex-wrap: wrap;
    }

    .pagination__info {
        display: none;
    }

    .pagination__right {
        margin-left: auto;
    }

    li.spread {
        padding-left: 2px;
        padding-right: 2px;
    }
}