@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 14px 'Roboto', sans-serif;
    background: url(../images/loading.svg) no-repeat -9999px -9999px;
}
.pull-right {
    margin-left: auto;
}
.pull-left {
    margin-right: auto;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 5px;
}
.input {
    padding: 8px 0;
    border: 0;
    box-shadow: 0 1px 0 0 #ddd;
    font: 400 16px 'Roboto';
    transition: box-shadow .15s linear;
}

.input:hover {
    box-shadow: 0 1px 0 0 #000;
}

.input:focus {
    outline: none;
    box-shadow: 0 1px 0 0 #00bcd4;
}

.btn {
    display: inline-block;
    padding: 8px 12px;
    background: #00bcd4;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
    color: #fff;
    font: 500 14px 'Roboto', Arial, sans-serif;
    text-transform: uppercase;
    transition: box-shadow .2s;
    cursor: pointer;
}
.btn:hover {
    background: #00b5cc;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,.3);
}
.btn:active,
.btn:focus {
    background: #00b5cc;
    outline: none;
    box-shadow: 0.2px 4px 9px 1px rgba(0,0,0,.3);
}
.btn--warning {
    background: #cc3737;
}
.btn--warning:hover,
.btn--warning:active,
.btn--warning:focus {
    background: #bf3737;
}
.order {
    position: relative;
    margin: 40px 0;
    padding: 5px 10px;
    box-shadow: 0px 3px 9px 1px rgba(0, 0, 0, 0.3);
}
.order--OK,
.order--OK .order-manage{
    background: #deedd9;
}
.order--SHP,
.order--SHP .order-manage{
    background: #FCE5CD;
}
.order--WFP,
.order--WFP .order-manage{
    background: #F4CCCC;
}
.order--NOT,
.order--NOT .order-manage{
    background: #a70000;
    color: #fff;
}
.order--NEW,
.order--NEW .order-manage{
    background: #fff;
}
.order-info {
    display: flex;
    align-items: center;
    margin: 3px 0 0;
    padding: 0 0 7px;
    border-bottom: 1px solid rgba(0, 188, 212, 0.49);
}
.order-product {
    display: flex;
    align-items: center;
}
.order-info__block {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 6px 8px;
    border-right: 1px solid rgba(0, 188, 212, 0.49);
    font-size: 15px;
    text-align: center;
    box-sizing: border-box;
    word-break: break-word;
}
.order-info__block:last-child {
    border-right-width: 0;
}
.order-info__block--id {
    width: 55px;
}
.order-info__block--lastName {
    width: calc((100% - 55px - 105px - 45px - 45px - 70px - 95px - 52px) / 4);
}
.order-info__block--firstName {
    width: calc((100% - 55px - 105px - 45px - 45px - 70px - 95px - 52px) / 4);
}
.order-info__block--phoneNumber {
    width: 105px;
}
.order-info__block--city {
    width: calc((100% - 55px - 105px - 45px - 45px - 70px - 95px - 52px) / 4);
}
.order-info__block--postOffice {
    width: 45px;
}
.order-info__block--date {
    width: 95px;
}
.order-info__block--totalSum {
    width: 70px;
}
.order-info__block--paymentType {
    width: 45px;
    padding: 0 2px;
}
.order-info__block--status {
    width: 52px;
    padding: 0 2px;
}
.order-info__block--comment {
    width: calc((100% - 55px - 105px - 45px - 45px - 70px - 95px - 52px) / 4);
    text-align: left;
}
.order-info__block select {
    width: 100%;
    background: none;
    border: none;
    border-radius: 2px;
    height: 32px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align-last: center;
}
.order-products {
    margin: 8px 0 3px;
}
.order-product__block {
    padding: 0 8px;
    box-sizing: border-box;
    line-height: 26px;
    word-break: break-all;
}
.order-product__block--name {
    width: 82%;
    border-right: 1px solid rgba(0, 188, 212, 0.49);
}
.order-product__block--quantity {
    width: 9%;
    text-align: center;
    border-right: 1px solid rgba(0, 188, 212, 0.49);
}
.order-product__block--quantity input {
    width: 49px;
    height: 23px;
    padding-left: 9px;
    background: none;
    border: none;
    text-align: center;
}
.order-product__block--price {
    width: 9%;
    text-align: center;
    border-right: 1px solid rgba(0, 188, 212, 0.49);
}

.order-product__block--delete {
    line-height: 1;
}
.order-product.odd {
    background: rgba(0, 188, 212, 0.05);
}
.order-product:hover {
    background: rgba(0, 188, 212, 0.15);
}
.order-manage {
    display: flex;
    align-items: center;
    margin: 9px 0 0;
    padding: 0 0 7px;
    border-bottom: 1px solid rgba(0, 188, 212, 0.49);
}
.order-manage.collapsible {
    position: absolute;
    top: 0;
    left: 0;
    justify-content: space-between;
    margin: 0;
    padding: 10px;
    border: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translate3d(0, 0, 0);
    transition: transform .2s ease;
}
.order:hover .order-manage.collapsible {
    opacity: 1;
    transform: translate3d(0, -100%, 0);
}
.order-manage__block {
    margin: 0 4% 0 0;
    text-align: center;
    cursor: pointer;
}
.collapsible .order-manage__block {
    margin-right: 30px;
}
.order-manage__text {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 2px;
}
.order-manage__block .material-icons {
    display: inline-block;
    vertical-align: middle;
    font-size: 31px;
    transition: color .2s;
}
.order-manage__block--add .material-icons {
    color: #00b500;
}
.order-manage__block--add:hover .material-icons {
    color: #00d600;
}
.order-manage__block--edit .material-icons {
    color: #0000ea;
}
.order-manage__block--edit:hover .material-icons {
    color: #4277ff;
}
.order-manage__block--delete .material-icons {
    color: #d20000;
}
.order-manage__block--delete:hover .material-icons {
    color: #ff0000;
}
.order-manage__block--save .material-icons {
    color: #00b6ce;
}
.order-manage__block--save:hover .material-icons {
    color: #01c5e0;
}
.autocomplete {
    position: absolute;
    max-height: 186px;
    overflow-y: auto;
    list-style: none;
    background: #fff;
    z-index: 9;
}
.autocomplete li {
    padding: 5px 10px;
    border: 1px solid transparent;
}
.autocomplete .active {
    background: #e8faff;
    border-top-color: #4bc6e8;
    border-bottom-color: #4bc6e8;
}
.service-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.btn-orders--add {
    margin: 15px 0 0;
}
.orders-info {
    flex-grow: 2;
    text-align: center;
}

.orders-info__block {
    display: inline-block;
    vertical-align: top;
    margin: 0 1% 0 0;
    color: #ccc;
    font-style: italic;
}
.order-product__block--delete .material-icons {
    color: #bd0000;
}
.table {
    margin: 15px 0;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    font-size: 13px;
    color: rgba(0,0,0,.87);
}
.table td, .table th {
    padding: 5px 20px;
    height: 48px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}
.table th {
    height: 56px;
    vertical-align: middle;
    font-size: 12px;
    font-weight: normal;
    color: rgba(0,0,0,.54);
}
.table tr:hover {
    background: #eee;
}
.table .numeric {
    text-align: right;
}

.table-container {
    overflow-x: auto;
}
.table-products,
.table-customers{
    min-width: 1000px;
}
.table-products th {
    width: 75px;
}

th.product-cell--name,
th.product-cell--category {
    width: calc((100% - (75px * 6)) / 2);
}
td.product-cell--id,
td.product-cell--price,
td.product-cell--variationId,
td.product-cell--quantity {
    text-align: right;
}
td.product-cell--supplier {
    word-break: break-word;
}
.search-input {
    width: 190px;
}
.table-customers .headcell {
    width: 20%;
}
.table-customers .headcell--id,
.table-customers .headcell--post {
    width: 75px;
}
.table-customers td {
    word-break: break-word;
}

@media only screen and (max-width: 1000px) {
    .order {
        padding-left: 2px;
        padding-right: 2px;
    }
    .order-info {
        flex-wrap: wrap;
    }
    .order-info__block {
        padding-left: 2px;
        padding-right: 2px;
    }
    .order-info__block--id {
        order: 1;
        width: 45px;
    }
    .order-info__block--lastName {
        order: 2;
        width: calc((100% - 45px - 93px - 83px - 35px) / 2);
    }
    .order-info__block--firstName {
        order: 3;
        width: calc((100% - 45px - 93px - 83px - 35px) / 2);
    }
    .order-info__block--phoneNumber {
        order: 4;
        width: 93px;
    }
    .order-info__block--status {
        order: 6;
        width: 35px;
    }
    .order-info__block--city {
        order: 7;
        width: calc((100% - 32px - 35px - 70px) / 2);
    }
    .order-info__block--postOffice {
        order: 8;
        width: 32px;
    }
    .order-info__block--date {
        order: 5;
        width: 83px;
    }
    .order-info__block--comment {
        order: 9;
        width: calc((100% - 32px - 35px - 70px) / 2);
        border-right-width: 1px !important;
    }
    .order-info__block--paymentType {
        order: 10;
        width: 35px;
    }
    .order-info__block--totalSum {
        order: 11;
    }
    /* PRODUCTS */
    .order-product {
        padding: 5px 0;
    }
    .order-product__block {
        padding: 0 2px;
        line-height: 1.3;
    }
    .order-product__block--name {
        width: 67%;
    }
    .order-product__block--quantity {
        width: 10%;
    }
    .order-product__block--quantity input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding-left: 0;
        width: 100%;
        text-align: center;
    }
    .order-product__block--price {
        width: 13%;
    }

    .order-product__block--delete {
        width: 10%;
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .order-page .search-input-container {
        position: relative;
        height: 37px;
    }
    .orders-page .search-input-container:before {
        content: '';
        position: absolute;
        top: 0;
        left: -150px;
        display: block;
        width: 50px;
        height: 38px;
        background: linear-gradient(to left, #fff 25%, transparent);
        transition: left .3s ease;
    }
    .orders-page .search-input-container.expanded:before {
        left: -350px;
    }
    .order-page .search-input {
        position: absolute;
        top: 0;
        right: 0;
    }
    .search-input {
        width: 150px;
    }
    .order {
        padding-bottom: 0;
    }
    .order-info {
        margin-top: 0;
        padding-bottom: 0;
        border-bottom: 0;
        align-items: initial;
    }
    .order-info__block {
        border-bottom: 1px solid rgba(0, 188, 212, 0.49);
    }
    .order-info__block--id {
        order: 1;
        width: 15%;
    }
    .order-info__block--lastName {
        order: 5;
        width: calc(100% / 3);
    }
    .order-info__block--firstName {
        order: 6;
        width: calc(100% / 3);
    }
    .order-info__block--phoneNumber {
        order: 7;
        width: calc(100% / 3);
        border-right-width: 0;
    }
    .order-info__block--status {
        order: 4;
        width: 18%;
        border-right-width: 0;
    }
    .order-info__block--city {
        order: 8;
        width: 57%;
    }
    .order-info__block--postOffice {
        order: 9;
        width: 12%;
    }
    .order-info__block--date {
        order: 2;
        width: 27%;
    }
    .order-info__block--comment {
        order: 3;
        width: 40%;
    }
    .order-info__block--paymentType {
        order: 10;
        width: 15%;
    }
    .order-info__block--totalSum {
        order: 11;
        width: 16%;
        border-right-width: 0;
    }
    .order-product {
        padding: 5px 0;
    }
    .order-product__block {
        padding: 0 2px;
        font-size: 13px;
        line-height: 1.5;
    }

    .products-page .service-block {
        flex-wrap: wrap;
    }
    .products-page filter {
        width: 100%;
        margin-left: auto;
    }
    .products-page .search-input {
        margin-top: 5px;
        margin-left: auto;
    }
    .table-products {
        margin-top: 5px;
    }
}