<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>"app.title"</title>

    <link rel="shortcut icon" href="assets/images/icon-main.png">
    <link rel="stylesheet" href="assets/css/login.css">
</head>
<body>

<div class="login-page">

    <div class="login-logo">
        Online shop CRM system
    </div>

    <div class="login-block">
        <form class="login-form" action="#" th:action="@{/spring_security_check}" method="post">
            <input type="text" placeholder="Login" class="input login-input" name='username' autofocus>
            <input type="password" placeholder="Password" class="input login-input" name='password'>
            <button type="submit" class="btn login-submit">"Log in"</button>
        </form>
    </div>

    <hr>

    <div class="container">
        <p>Developed by Yurii Malikov and Denis Malikov</p>
    </div>
    <div class="container">
        <div class="lead">
            &nbsp;&nbsp;&nbsp;<a href="https://github.com/malikov-yurii/online-shop-management-system">
            Java based web app</a> for <a href="https://gilder-shop.com.ua/potal-i-susal">online-shop 'Lavka Pozolotchika'</a> .
            Stack: Spring (Boot, IoC, DATA, MVC, Security), JasperReports, Angular
        </div>
    </div>

    <script type="text/javascript">
    </script>
</div>
</body>
</html>